#site-header {
    background-image:url('../img/jtree.jpg');
    color: white;
    padding: 40px 0px 40px 0px;
    text-align: center;
}
span.place-name {
    display: inline-block;
    width: 70%;
}

form.visited-form {
    display: inline;
}

div.wishlist-place {
    margin: 20px
}

label {
    display: inline-block;
    padding-right: 8px;
}

a.nav-link {
    padding-right: 10px;
}

#add-new-place {
    background-color: purple;
    border: rebeccapurple;
}

.delete {
    background-color: crimson;
    border-color: darkred;
}